@use '../settings.scss' as *;
@use '../global/fonts' as *;

.date-picker-wrapper {
  .dp__input {
    padding-left: $spacing-2xl;
    line-height: normal;
    padding-bottom: $spacing-sm;
  }

  .dp__calendar_row {
    gap: $spacing-sm;

    .dp__calendar_item {
      min-width: $calendar-cell-size;
      min-height: $calendar-cell-size;
      border: 1px solid $color-border;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $radius-sm;
      font-size: $font-size-xs;

      .dp__today {
        border-radius: $radius-sm;
        min-width: $calendar-cell-size;
        min-height: $calendar-cell-size;
      }

      .dp__active_date {
        border-radius: $radius-sm;
      }
    }

  }
  .dp__main {
    .dp__input_wrap {
      height: $input-height;
      border: 1px solid $color-border;
      border-radius: $radius-sm;

      input {
        border: none;
        height: 100%;
        border-radius: $radius-sm;
      }
    }

    .dp__today {
      border-color: $color-primary;
    }
    .dp__active_date, .dp__overlay_cell_active{
      background-color: $color-primary;
    }
    .dp__input_icon {
      left: $input-icon-left;
    }
  }
}
