@use '../settings.scss' as *;

.date-picker-wrapper {
  .dp__input {
    padding-left: 40px;
    line-height: normal;
    padding-bottom: 8px;
  }

  .dp__calendar_row {
    gap: 8px;

    .dp__calendar_item {
      min-width: 30px;
      min-height: 30px;
      border: 1px solid $color-border;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $radius-sm;
      font-size: 12px;

      .dp__today {
        border-radius: $radius-sm;
        min-width: 30px;
        min-height: 30px;
      }

      .dp__active_date {
        border-radius: $radius-sm;
      }
    }

  }
  .dp__main {
    .dp__input_wrap {
      height: 44px;
      border: 1px solid $color-border;
      border-radius: $radius-sm;

      input {
        border: none;
        height: 100%;
        border-radius: $radius-sm;
      }
    }

    .dp__today {
      border-color: $color-primary;
    }
    .dp__active_date, .dp__overlay_cell_active{
      background-color: $color-primary;
    }
    .dp__input_icon {
      left: 15px;
    }
  }
}
