@use '../settings.scss' as *;

.date-picker-wrapper {

  .dp__main {
    .dp__input_wrap {
      height: 44px;
      border: 1px solid $color-border;
      border-radius: $radius-sm;

      input {
        border: none;
        height: 100%;
        border-radius: $radius-sm;
      }
    }

    .dp__today {
      border-color: $color-primary;
    }
    .dp__active_date, .dp__overlay_cell_active{
      background-color: $color-primary;
    }
    .dp__input_icon {
      left: 15px;
    }
  }
}
