@use '../settings.scss' as *;

.form-custom-textarea {
  .v-field__overlay {
    display: none;
  }

  .v-textarea {
    border: 1px solid $color-border;
    border-radius: $radius-md;

    textarea {
      border: none;
      height: 89px;
      resize: none;
      mask-image: none;

    }
  }
}