@use '../settings.scss' as *;
@use '../global/fonts' as *;

.form-field .v-field {
  border-radius: 8px !important;
}

.form-field {
  .v-input__control {
    background-color: white;
    border-radius: 12px;
  }
}

.form-field .v-field__input {
  padding: 12px 16px !important;
  min-height: 44px !important;
}

.form-field .v-label {
  font-size: $font-size-sm !important;
  font-weight: 500 !important;
  color: $color-text-secondary !important;
}

.form-field .v-field__outline {
  --v-field-border-opacity: 1;
  color: $color-border !important;
}

.form-field .v-field--focused .v-field__outline {
  color: $color-primary !important;
}

.label {
  color: $color-text-primary;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.v-input__details {
  background-color: transparent;
}

.v-field__input {
  background-color: white;
  border-radius: 12px;
}