@use '../global/colors' as *;
@use '../global/fonts' as *;

.form-field .v-field {
  border-radius: 8px !important;
}

.form-field .v-field__input {
  padding: 12px 16px !important;
  min-height: 44px !important;
}

.form-field .v-label {
  font-size: $font-size-sm !important;
  font-weight: 500 !important;
  color: $text-secondary !important;
}

.form-field .v-field__outline {
  --v-field-border-opacity: 1;
  color: $border !important;
}

.form-field .v-field--focused .v-field__outline {
  color: $primary !important;
}

.label {
  color: $text-primary;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}
