@use '../settings.scss' as *;
@use '../global/fonts' as *;

.form-field .v-field {
  border-radius: $radius-xs !important;
}

.form-custom-input {
  .v-field__input {
    border: none !important;
  }

  .v-input__control {
    border: 1px solid $color-border;
  }
}

.form-field {
  .v-field__outline {
    display: none;
  }

  .v-input__control {
    background-color: white;
    border-radius: $radius-md;
  }
}

.form-field .v-field__input {
  padding: $spacing-md-sm $spacing-md !important;
  min-height: $input-height !important;
  border: 1px solid $color-border;

}

.form-field .v-label {
  font-size: $font-size-sm !important;
  font-weight: 500 !important;
  color: $color-text-secondary !important;
}

.form-field .v-field__outline {
  --v-field-border-opacity: 1;
  color: $color-border !important;
}

.form-field .v-field--focused .v-field__outline {
  color: $color-primary !important;
}

.label {
  color: $color-text-primary;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin-bottom: $spacing-sm;
}

.v-input__details {
  background-color: transparent;
}

.v-field__input {
  background-color: white;
  border-radius: $radius-md;
}
