@import '../settings';

.mention-popover {
  position: absolute;
  background: $color-surface;
  border: 1px solid $color-border;
  border-radius: $radius-xs;
  box-shadow: $shadow-sm;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      padding: $spacing-sm $spacing-md-sm;
      cursor: pointer;

      &:hover {
        background: $color-background;
      }

      .avatar {
        width: 24px;
        height: 24px;
        border-radius: $radius-full;
        margin-right: $spacing-sm;
      }
    }
  }
}
