@use '../settings.scss' as *;

.mobile-navbar {
  border-bottom: 1px solid $color-border;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $color-background;
  z-index: 9;

  .logo {
    width: 32px;
  }

  .badge {
    background-color: #C8372B;
    color: white;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 10px;
    position: absolute;
    top: -10px;
    left: 7px;
    text-transform: uppercase;
  }

  .profile-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-surface;
    background-color: $color-primary;
    font-size: 14px;
    position: relative;
    z-index: 6;
  }

  &-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 12px 0;
      font-size: 16px;
    }
  }

  .right-card, .sidebar-logo {
    display: none;
  }

  .quick-stats {
    background-color: #F4FBF7;
  }

  .sidebar-card {
    + a {
      display: none;
    }
  }
}