@use '../global/colors' as *;
@use '../global/fonts' as *;

.social-btn {
  border: 1px solid #DCDCD8;
  border-radius: 12px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}