@use '../settings.scss' as *;
@use '../global/fonts.scss' as *;

.social-btn {
  border: 1px solid $color-border;
  border-radius: 12px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
}
