@use '../settings.scss' as *;
@use '../global/fonts.scss' as *;

.social-btn {
  border: 1px solid $color-border;
  border-radius: $radius-md;
  padding: $spacing-md $spacing-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $color-surface;
}
