@use '../settings.scss' as *;
@use '../global/fonts.scss' as *;

.upload-file-wrapper {
  height: 270px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed $color-border;
  border-radius: 12px;
  background-color: $color-background;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border-color: $color-primary;
    background-color: #f1f5f9;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: $color-text-secondary;
    font-size: 1rem;
    font-weight: 500;

    .v-icon {
      font-size: 48px;
      color: $color-primary;
      margin-bottom: 12px;
    }

    p {
      margin-top: 8px;
      font-size: 0.8rem;
      color: $color-text-tertiary;
    }
  }
}
