@use '../settings.scss' as *;
@use '../global/fonts.scss' as *;
@use 'sass:color';

.upload-file-wrapper {
  height: 270px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed $color-border;
  border-radius: $radius-md;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border-color: $color-primary;
    background-color: color.adjust($color-background, $lightness: -3%);
  }


  .upload-title {
    font-size: 14px;
    color: $color-text-primary;
  }

  .upload-sub-title {
    color: #808079;
    font-size: 12px;
    margin-top: 0;
  }

  .upload-btn {
    background-color: $color-primary;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    margin-top: 24px;
    cursor: pointer;
  }
}
