@use '../settings.scss' as *;
@use '../global/fonts.scss' as *;
@use 'sass:color';

.upload-file-wrapper {
  height: $upload-area-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border-width-lg dashed $color-border;
  border-radius: $radius-md;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border-color: $color-primary;
    background-color: color.adjust($color-background, $lightness: -3%);
  }


  .upload-title {
    font-size: $font-size-sm;
    color: $color-text-primary;
  }

  .upload-sub-title {
    color: $color-text-quaternary;
    font-size: $font-size-xs;
    margin-top: 0;
  }

  .upload-btn {
    background-color: $color-primary;
    color: white;
    padding: $spacing-md-sm $spacing-lg;
    font-size: $font-size-base;
    margin-top: $spacing-lg;
    cursor: pointer;
  }
}
