@use '../settings.scss' as *;
@use '../global/mixins.scss' as *;
@use 'fonts';

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.v-application {
  background-color: $color-background;
}

.cancel-btn {
  box-shadow: none;
  text-transform: none;
  border: 1px solid $color-border;
  border-radius: $radius-md;
  padding: $spacing-sm $spacing-md;
  color: $color-primary;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  @include media-down($breakpoint-sm) {
    font-size: 14px;
  }
}

.submit-btn {
  background-color: $color-primary;
  border-radius: $radius-md;
  color: white;
  cursor: pointer;
  text-align: center;
  padding: $spacing-sm $spacing-md;
  font-size: 16px;
  font-weight: 600;
  @include media-down($breakpoint-sm) {
    font-size: 14px;
  }
}

.text-description {
  font-size: 16px;
  font-weight: 400;
  color: #808079;
}

.Vue-Toastification__toast--info {
  background-color: #1E5BBF;
}

.Vue-Toastification__toast {
  min-height: auto;
  padding: 15px;
  border-radius: 12px;

  svg {
    display: none;
  }
}

.Vue-Toastification__container {
  padding-left: 15px;
  padding-right: 15px;
}