@use '../../../settings' as *;

.notify-tab {
  .tab-header {
    color: $color-text-secondary;
    cursor: pointer;
  }

  .title {
    color: $color-text-primary;
    font-size: 16px;
    font-weight: 600;
  }

  .text-description {
    font-size: 12px;
  }

  .all-item {
    border: 1px solid $color-border;
    border-radius: $spacing-md-sm;
  }

  .separator {
    color: $color-border;
  }

  .picker-wrapper {
    .dp__input {
      border: 1px solid $color-border;
      border-radius: $radius-md;
    }

    .dp__action_select {
      background-color: $color-primary;
    }
  }
}