@use '../settings' as *;

.create-post-page {
  .back-btn {
    margin-left: -20px;
    color: #1C1C1B;
  }

  .title-wrapper {
    .page-title {
      font-weight: 700;
      font-size: 32px;
      color: #1C1C1B;
      line-height: normal;
    }

    .page-subtitle {
      color: #808079;
      font-size: 16px;
    }
  }

  .progress-section {
    margin-top: 24px;

    .progress-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .step-counter {
        color: #808079;
        font-size: 14px;
      }

      .progress-percentage {
        color: #454541;
        font-size: 14px;
      }
    }
  }

  .action-buttons {
    background-color: white;
    padding: 0 24px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $color-border;
    border-radius: 0 0 $radius-md $radius-md;
    border-top: 0;
  }
}