@use '../settings' as *;

.create-post-page {
  padding: 0 20px;

  .form-hint {
    color: $color-text-quaternary;
    font-size: 12px;
  }

  .header-section {
    @include media-down($breakpoint-sm) {
      display: flex;
      align-items: center;
    }
  }

  .back-btn {
    margin-left: -20px;
    color: $color-text-primary;
  }


  .post-card-content {
    background-color: $color-surface;
    padding: 24px;
    border-radius: $radius-md;
    border: 1px solid $color-border;
  }

  h5 {
    color: $color-text-primary;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .tag-chip {
    background-color: $color-primary;
    color: white;
    border-radius: $radius-xs;
  }

  .v-expansion-panel {
    .v-expansion-panel-text__wrapper {
      padding: 0;
    }

    .v-expansion-panel__shadow,
    .v-expansion-panel-title__overlay {
      display: none;
    }

    .v-expansion-panel-title {
      color: $color-text-primary;
      font-weight: 600;
      font-size: 18px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .dp__input_wrap {
    input {
      font-size: 16px;
    }
  }

  .v-chip--variant-outlined {
    border-color: $color-border;
  }

  .v-chip--selected {
    color: #6E240F !important;
    border-color: $color-tag-bg;
    background-color: $color-tag-bg;
  }

  .v-chip__filter {
    display: none;
  }

  .selected-tags-list {
    display: flex;
    flex-wrap: wrap;

    .tag-chip {
      font-size: 12px;
      border-radius: $radius-md;
      list-style: none;
    }
  }

  .form-select {
    border: 1px solid $color-border;
    border-radius: $radius-md;

    .v-field__input {
      border: none;
    }
  }

  label {
    color: $color-text-primary;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .editor-wrapper {
    position: relative;

    .ql-toolbar {
      border-radius: $radius-xs $radius-xs 0 0;
    }

    .ql-container {
      border-radius: 0 0 $radius-xs $radius-xs;
      height: 114px;
    }

    .ql-editor.ql-blank::before {
      color: #7F8C8D;
      font-size: 14px;
      font-style: normal;
    }

    .char-counter {
      position: absolute;
      bottom: 8px;
      right: 10px;
      color: #7F8C8D;
      font-weight: 400;
      font-size: 12px;
    }
  }

  .title-wrapper {
    .page-title {
      font-weight: 700;
      color: $color-text-primary;
      font-size: 32px;
      @include media-down($breakpoint-sm) {
        font-size: 20px;
      }
    }
  }

  .page-subtitle {
    font-weight: 400;
    color: $color-text-quaternary;
    font-size: 16px;
    @include media-down($breakpoint-sm) {
      font-size: 14px;
    }
  }

  .setting-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9EAD5;
    padding: 8px 15px;
    border-radius: $radius-md;

    .setting-title {
      color: $color-text-primary;
      font-size: 16px;
    }

    .setting-desc {
      color: #808079;
      font-size: 14px;
    }
  }

  .cancel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}