@use '../settings.scss' as *;
@use '../global/fonts' as *;

.explore-page {
  .search-wrapper {
    background-color: $color-surface;
    padding: $spacing-md;
    border: 1px solid $color-border;
    border-radius: $radius-lg;
    &.card-open {
      border-bottom: 0;
      border-radius: $radius-md $radius-md 0 0;
    }
  }

  .search-panel {
    .search-icon {
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }

    input {
      padding-left: 50px !important;
    }
  }

  .composer-filter {
    background-color: $color-surface;
    border-radius: $radius-sm;
    border: 1px solid $color-border;
    padding: $spacing-sm;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .submit-btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
