@use '../settings.scss' as *;

.failure-resume-page {
  @include media-down($breakpoint-sm) {
    padding: 15px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $color-surface;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    padding: 40px;
  }

  .header {
    h1 {
      font-size: 32xp;
      font-weight: 600;
      color: $color-text-primary;
      line-height: 40px;
    }
  }

  .stat-panel {
    background-color: $color-surface;
    border-radius: $radius-xl;
    border: 1px solid $color-border;

    .item {
      h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
      }

      p {
        line-height: 20px;
      }
    }
  }

  .main-content {
    background-color: $color-surface;
    border-radius: $radius-xl;
    border: 1px solid $color-border;

    h4 {
      font-weight: 600;
      color: $color-text-primary;
      font-size: 18px;
      line-height: 28px;
    }

    ul {
      li {
        list-style: none;
        display: flex;
        align-items: flex-start;
        border: 1px solid $color-border;
        border-radius: $radius-sm;
        margin-bottom: 10px;
        padding: 15px;

        &.selected {
          border-color: $color-primary;
        }

        .tag {
          background-color: $color-tag-bg;
          color: $color-tag;
          font-size: 10px;
          line-height: 12px;
          padding: 5px 10px;
          border-radius: $radius-md;
        }

        .title {
          color: $color-text-primary;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          margin-top: 8px;
        }

        .item-panel {
          font-size: 12px;
          line-height: 16px;
          color: $color-text-quaternary;
          display: flex;
          margin-top: 8px;
        }
      }
    }
  }
}
