@use '../settings.scss' as *;

.forgot-password-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;

  .back-link {
    color: $color-text-secondary;
    font-size: 16px;
    text-decoration: none;
  }

  .welcome-title {
    text-align: center;
    color: $color-text-primary;
    margin-top: $spacing-xl * 1.5;
    margin-bottom: $spacing-lg;
  }

  .reset-prompt {
    text-align: center;
    color: $color-text-secondary;
    font-size: 18px;
    margin-bottom: $spacing-xl * 1.5;
  }
}
