.forgot-password-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;

  .back-link {
    color: #454545;
    font-size: 16px;
    text-decoration: none;
  }

  .welcome-title {
    text-align: center;
    color: #1C1C1B;
    margin-top: 48px;
    margin-bottom: 20px;
  }

  .reset-prompt {
    text-align: center;
    color: #454541;
    font-size: 18px;
    margin-bottom: 48px;
  }
}