@use '../settings.scss' as *;

.feed-page {
  min-height: 100vh;

  .feed-tabs {
    display: flex;
    border-bottom: 1px solid $color-border;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: $spacing-md;
    background-color: $color-background;

    .feed-tab {
      flex: 1;
      padding: 10px;
      text-align: center;
      color: $color-text-secondary;
      background: none;
      border: none;
      cursor: pointer;
      transition: color 0.2s, background-color 0.2s;
      border-bottom: 3px solid transparent;
      font-size: 14px;

      &:hover {
        color: $color-primary;
        border-bottom-color: $color-primary;
        font-weight: bold;
      }

      &.active {
        color: $color-primary;
        border-bottom-color: $color-primary;
        font-weight: bold;
      }
    }
  }

  .composer-card {
    background-color: white;
    border-radius: $radius-md;
    border: 1px solid $color-border;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .write-post-btn {
      background-color: white;
      border-radius: $radius-xs;
      border: 1px solid $color-border;
      color: $color-primary;
      cursor: pointer;
      padding: 10px 24px;
      line-height: normal;
      font-size: 16px;
    }

    .composer-filter {
      background-color: white;
      border-radius: $radius-xs;
      border: 1px solid $color-border;
      padding: 10px;
      cursor: pointer;
    }
  }
}
