@use '../settings.scss' as *;

.login-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;


  .welcome-title {
    color: $color-text-primary;
    font-size: 48px;
  }

  .signup-prompt {
    span {
      color: $color-text-secondary;
      font-size: 18px;
      margin-right: 15px;
    }

    a {
      color: $color-primary;
      font-size: 18px;

    }
  }

  .separator-text {
    width: 50px;
    text-align: center;
    display: block;
    color: #808079;
    font-size: 14px;
  }
}