@use '../settings.scss' as *;

.login-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;


  .welcome-title {
    color: $color-text-primary;
    font-size: 48px;
  }

  .signup-prompt {
    span {
      color: $color-text-secondary;
      font-size: 18px;
      margin-right: $spacing-md;
    }

    a {
      color: $color-primary;
      font-size: 18px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .separator-text {
    width: 50px;
    text-align: center;
    display: block;
    color: $color-text-tertiary;
    font-size: 14px;
  }
}
