@use '../settings.scss' as *;

.notifications-page {
  .notifications-main {
    padding: 20px;
  }

  .notification-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;

    &:last-child {
      border-bottom: none;
    }

    p {
      margin: 0;
    }
  }
}
