@use '../settings.scss' as *;

.set-password-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: $spacing-xl $spacing-md;
  @include media-down($breakpoint-sm) {
    padding: 0;
    margin-top: -200px;
  }

  .back-link {
    color: $color-text-secondary;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: $spacing-xs;
    @include media-down($breakpoint-sm) {
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }

  .auth-logo-mobile {
    width: 48px;
  }

  .welcome-title {
    text-align: center;
    color: $color-text-primary;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-md;
    font-size: 28px;
    @include media-down($breakpoint-sm) {
      margin-top: 0;
    }
    @include media-up($breakpoint-sm) {
      font-size: 32px;
      margin-top: $spacing-xl * 1.5;
      margin-bottom: $spacing-lg;
    }
  }

  .reset-prompt {
    text-align: center;
    color: $color-text-secondary;
    font-size: 16px;
    margin-bottom: $spacing-xl;

    @include media-up($breakpoint-sm) {
      font-size: 18px;
      margin-bottom: $spacing-xl * 1.5;
    }
  }

  .set-password-form-fields {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  .reset-password-btn {
    margin-top: $spacing-lg;
    width: 100%;
    text-transform: unset;
    @include media-up($breakpoint-sm) {
      width: auto;
    }
  }
}
