@use '../settings.scss' as *;
@use '../global/fonts' as *;
@use '../global/mixins' as *;

.settings-page {
  .settings-wrapper {
    background-color: $color-surface;
    padding: $spacing-lg;
    border-radius: $radius-xl;
    border: 1px solid $color-border;
    margin-top: 24px;

    .settings-sidebar {
      .settings-menu {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          padding: 10px;
          cursor: pointer;
          font-size: 16px;
          border-radius: $radius-sm;
          transition: all .3s ease-in;

          svg {
            * {
              stroke: $color-text-primary;
            }
          }

          &.active {
            background-color: $color-tag-bg;
            color: $color-tag;

            svg {
              * {
                stroke: $color-tag;
              }
            }
          }

          &:hover {
            background-color: $color-tag-bg;
            color: $color-tag;

            svg {
              * {
                stroke: $color-tag;
              }
            }
          }
        }
      }
    }
  }
}

