@use '../settings.scss' as *;

.single-post-page {
  .bg {
    background-color: $color-surface;
    border-radius: $radius-lg;
    border: 1px solid $color-border;
    padding: 15px 25px;
  }

  .section-title {
    color: $color-text-primary;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
  }

  h3 {
    color: $color-text-primary;
    font-weight: 600;
    font-size: 24xp;
    margin-bottom: 12px;
  }

  .v-chip {
    border: 1px solid $color-border;

    .v-chip__underlay {
      display: none;
    }
  }

  .tag-list {
    display: flex;

    li {
      list-style: none;
      color: $color-surface;
      background-color: $color-primary;
      font-weight: 400;
      font-size: 12px;
      line-height: normal;
      padding: 3px 5px;
      border-radius: $radius-xs;
      margin-right: 10px;
    }
  }

  .reaction-list {
    display: flex;
    flex-wrap: wrap;

    li {
      list-style: none;
      border: 1px solid $color-border;
      border-radius: $radius-xs;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 144px;
      width: 100%;
      padding: 15px;
      cursor: pointer;

      .label {
        color: $color-text-secondary;
        font-size: 12px;
        line-height: normal;
        white-space: nowrap;
      }
    }
  }
}
