@use '../settings.scss' as *;

.verify-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;

  .back-link {
    color: $color-text-secondary;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    .v-icon {
      margin-right: $spacing-xs;
    }
  }

  .welcome-title {
    text-align: center;
    color: $color-text-primary;
    margin-top: $spacing-xl * 1.5; // 48px
    margin-bottom: $spacing-lg; // 20px
  }

  .verify-prompt {
    text-align: center;
    color: $color-text-secondary;
    font-size: 18px;
    margin-bottom: $spacing-xl * 1.5; // 48px
  }

  .v-input {
    width: 50px;
    flex: none;
  }

  .v-input__control {
    width: 50px;
  }


  .resend-code {
    margin-bottom: $spacing-lg; // 24px

    .resend-link {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      color: $color-primary;
      font-weight: bold;

      &:disabled {
        color: $color-text-tertiary;
        cursor: not-allowed;
      }
    }
  }

  .confirm-btn {
    margin-top: $spacing-lg; // Adjust as needed
  }
}
