@use '../../settings.scss' as *;

.step-three {
  background-color: $color-surface;
  border: 1px solid $color-border;
  border-radius: $radius-md $radius-md 0 0;
  border-bottom: 0;
  padding: 24px;
  margin-top: 24px;
  .step-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: $spacing-sm;
    color: $color-text-primary;
  }

  .step-subtitle {
    font-size: 1rem;
    color: #808079;
    margin-bottom: $spacing-lg;
  }
  label {
    color: #1C1C1B;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .ql-toolbar {
    border-radius: $radius-xs $radius-xs 0 0;
  }

  .ql-container {
    border-radius: 0 0 $radius-xs $radius-xs;
  }
}
