@use '../../settings.scss' as *;
@use '../../global/fonts.scss' as *;

.step-four {
  background-color: $color-surface;
  border: 1px solid $color-border;
  border-radius: $radius-md $radius-md 0 0;
  border-bottom: 0;
  padding: 24px;
  margin-top: 24px;

  .step-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: $spacing-sm;
    color: $color-text-primary;
  }

  .step-subtitle {
    font-size: 1rem;
    color: #808079;
    margin-bottom: $spacing-lg;
  }

  label {
    color: #1C1C1B;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .form-hint {
    color: #808079;
    font-size: 12px;
  }

  .select {
    .v-field {
      border: 1px solid $color-border;
    }

    .v-field__input {
      border: none;
    }
  }

  .v-chip--variant-outlined {
    border: 1px solid $color-border;
  }

  .v-chip--selected {
    background-color: #F9EAD5;
    color: #6E240F;
  }

  .v-chip__filter {
    display: none;
  }

  .v-chip__content {
    font-size: 12px;
  }

  .add-tag-btn {
    background-color: $color-surface;
    border: 1px solid $color-border;
    border-radius: $radius-md;
    color: $color-primary;
    height: 100%;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 20px;
    margin-left: 8px;
    cursor: pointer;

    &.disabled {
      opacity: .7;
      pointer-events: none;
    }
  }

  .tag-chip {
    background-color: $color-primary;
    color: white;
    border-radius: $radius-xs;

  }

}
