@use '../../settings.scss' as *;

.step-one {
  background-color: $color-surface;
  border: 1px solid $color-border;
  border-radius: $radius-md $radius-md 0 0;
  border-bottom: 0;
  padding: 24px;
  margin-top: 24px;

  .step-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: $spacing-sm;
    color: $color-text-primary;
  }

  .step-subtitle {
    font-size: 1rem;
    color: #808079;
    margin-bottom: $spacing-lg;
  }

  .categories-grid {
    .category-card {
      border: 1px solid $color-border;
      border-radius: $radius-sm;
      padding: $spacing-md;
      cursor: pointer;
      transition: all 0.2s ease;
      background-color: $color-surface;
      height: 100%;

      &:hover {
        background-color: #F9EAD5;
        border-color: #F9EAD5;

        .category-name {
          color: #6E240F !important;
          font-weight: 600;
        }
      }

      &.active {
        background-color: #F9EAD5;
        border-color: #F9EAD5;

        .category-name {
          color: #6E240F !important;
          font-weight: 600;
        }
      }

      .category-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .category-name {
          font-size: 0.9rem;
          color: $color-text-primary;
          line-height: 1.2;
        }

        .check-icon {
          color: $color-primary;
          margin-left: $spacing-sm;
        }
      }
    }
  }
}
