@use '../../settings.scss' as *;
@use '../../global/fonts.scss' as *;

.step-five {
  background-color: $color-surface;
  border: 1px solid $color-border;
  border-radius: $radius-md $radius-md 0 0;
  border-bottom: 0;
  padding: 24px;
  margin-top: 24px;

  .step-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: $spacing-sm;
    color: $color-text-primary;
  }

  .step-subtitle {
    font-size: 1rem;
    color: #808079;
    margin-bottom: $spacing-lg;
  }

  label {
    color: #1C1C1B;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .v-field__input {
    border: none;
  }

  .select, .form-field {
    border: 1px solid $color-border;
    border-radius: $radius-md;
  }

  .setting-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .setting-title {
      color: #1C1C1B;
      font-size: 16px;
    }

    .setting-desc {
      color: #808079;
      font-size: 14px;
    }
  }
}
