@use '../../settings.scss' as *;

.profile-card {
  .profile-top {
    background-color: white;
    border: 1px solid #DCDCD8;
    padding: 15px;
    border-radius: 12px;
  }

  .profile-avatar {
    width: 44px;
    height: 44px;

    img {
      border-radius: 50%;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #D27D33;
      color: white;
      font-size: 16px;
    }
  }

  .profile-search {
    margin-top: 24px;
  }
}

