@use '../../settings.scss' as *;

.feed-sidebar {
  position: sticky;
  top: 15px;

  .logo-mark {
    img {
      width: 40px;
    }
  }

  .sidebar-nav {
    .sidebar-section {
      .nav-item {
        color: #808079;
        font-size: 16px;
        text-decoration: none;
        display: flex;
        align-items: center;

        &.router-link-active {
          color: #6E240F;
        }
      }
    }
  }

  .quick-stats {
    background-color: white;
    border: 1px solid #DCDCD8;
    border-radius: 8px;
    padding: 15px;
    margin-top: 24px;

    .sidebar-card-title {
      color: #1C1C1B;
      font-size: 16px;
    }

    .stat-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 5px;
      padding-bottom: 5px;

      span {
        color: #808079;
        font-size: 14px;

        &.stat-value {
          color: #1C1C1B;
        }
      }
    }
  }

  .create-post-btn {
    text-transform: none;
    margin-top: 24px;

    .v-btn__content {
      font-weight: 600;
      font-size: 16px;
    }
  }
}
