@use "sass:color";
@use '../../settings.scss' as *;

.follow-card {
  margin-top: 24px;
  background-color: white;
  border: 1px solid #DCDCD8;
  padding: 24px 20px;
  border-radius: 12px;

  .right-card-header {
    h3 {
      color: #1C1C1B;
      font-size: 20px;
    }
  }

  .follow-row {
    display: flex;
    align-items: center;

    .follow-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      color: white;
      font-size: 16px;
    }

    .follow-name {
      font-weight: 600;
      font-size: 16px;
      color: #1C1C1B;
    }

    .follow-btn {
      color: #D65A1F;
      font-size: 14px;
      border: 1px solid #DCDCD8;
      border-radius: 8px;
      cursor: pointer;
      padding: 8px 20px;
      font-weight: 600;
    }
  }
}
