@use '../settings.scss' as *;

.auth-layout {
  position: relative;

  .auth-logo{
    position: absolute;
    top: $spacing-xl;
    left: $spacing-xl;
  }
  h1 {
    font-size: 64px;
    line-height: 72px;

    span {
      color: $color-primary;
    }
  }

  .description {
    color: $color-text-secondary;
    font-size: 20px;
    font-weight: 400;
  }

  p.description {
    margin-bottom: $spacing-xl * 1.5;
  }
}
